{%extends 'base.html'%}
{% load static %}
{% load bootstrap4 %}
{% block content %}
<div class="box">
  <div class="text-center">
    <div class="title">New project</div>
    <hr>
    <div class="guide">Add a project by providing the project name, project screenshot, a short description of the
      project and finally a live link to the site.</div>
  </div>
  <form action="{%url 'new_project'%}" method="post" enctype="multipart/form-data">
    {%csrf_token%}
    {% bootstrap_form form%}
    <input type="submit" class="btn btn-dark " value=" Add Project">
  </form>
</div>
{% endblock %}