{%extends 'base.html'%}
{% load crispy_forms_tags %}
{%load static%}
{%block content%}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron"
        style="color: whitesmoke;background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url('{{project.project_image.url}}');">
        <div class="image">
          <div class="title text-center"><a href="{{project.urls}}" target="_blank"
              style="font-size: xx-large;color: whitesmoke;"><strong>
                {{project.name}}</strong>&nbsp;<sup><i class="fas fa-share" style="font-size: 1.9rem;"></i></sup></a>
          </div>
          <div class="owner text-center">BY <span><a href="{% url 'profile' project.profile.user.id %}"
                style="text-transform: capitalize;color: #00bdaa;">{{project.profile.user.username}}</a></span> FROM
            {{project.profile.location}}</div><br>
          <div class="d-flex">
            {% for rating in project.ratings.all %}
            {% if forloop.counter is project.ratings.all.count %}
            <div id="average"><strong>{{rating.average_rating}}</strong><span><strong>average</strong></span></div>
            <div class="design"><strong>{{rating.design_average}}</strong><span><strong>design</strong></span></div>
            <div class="usability"><strong>{{rating.usability_average}}</strong><span><strong>usability</strong></span>
            </div>
            <div class="content"><strong>{{rating.content_average}}</strong><span><strong>content</strong></span></div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      {% if rated %}
      <h5>You have already voted</h5>
      {% else %}
      <a href="#" data-toggle="modal" data-target="#Modal">
        <h2>Rate This Project</h2>
      </a>
      <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" style="margin-right: auto;margin-left: auto;">
          <div class="modal-content" style="width: 180%;">
            <div class="modal-header">
              <h3>Rating Form</h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body text-center">
              
              {% if user.is_authenticated %}
              <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{form|crispy}}
                <button type="submit" class="btn btn-sm btn-info">Rate</button>
              </form>
              {% endif %}
              
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="description text-center"><strong> {{project.description}}</strong></div>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" id="Votes">
      <h3 class="text-center"><strong>Rated By {{rating_stats}}</strong></h3><br>
      {% if ratings %}
      <div class="vote-titles">
        <img src="" alt="voter" class="invisible">
        <!-- <p class="voter-name"></p> -->
        <p class="vote-title ">Content</p>
        <p class="vote-title ">Design</p>
        <p class="vote-title "> Usability</p>
      </div>
      {% for vote in ratings%}
      <img src="{{vote.rater.profile_pic.url}}" alt="voter" style="height: 4em;width: 4em;" class="rounded-circle">
      <div class="vote-details">
        <p class="voter-name">{{vote.rater.user.username}}</p>
        <p class="content-vote">{{vote.content | floatformat:0}}</p>
        <p class="design-vote">{{vote.design | floatformat:0}}</p>
        <p class="usability-vote">{{vote.usability | floatformat:0}}</p>
      </div>
      {% endfor %}
      {% else %}
      <div class="text-center have-already">No votes yet</div>
      {% endif %}
    </div>
  </div>
</div>
{%endblock%}