{%extends 'base.html'%}
{% load static %}
{% block styles %}
{{ block.super}}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}
{% block content %}
{% if highest_rating %}
<div class="jumbotron" style="color: whitesmoke;background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('{{highest_rating.project_image.url}}');">
  <div class="of-the-day-wrapper-top">
    <label>
      Site of the day <span>{{date}}</span>
    </label>
  </div>
  <div class="highest_details">
    <a href="{%url 'project' highest_rating.id%}">{{highest_rating.name}}</a>
    <div class="developer">BY <a
        href="{% url 'profile' highest_rating.profile.user.id %}">BY {{highest_rating.profile.user.username}}</a>FROM
      {{highest_rating.profile.location}} WITH{%for highest_rating in ratings%} {{highest_rating.average_rating}}{%endfor%}</div>
    <div class="d-flex">
      {%for highest_rating in ratings%}
      <div id="average">{{highest_rating.average_rating}}<span>average</span></div>
      <div class="design">{{highest_rating.design_average}}<span>design</span></div>
      <div class="usability">{{highest_rating.usability_average}}<span>usability</span></div>
      <div class="content">{{highest_rating.content_average}}<span>content</span></div>
      {%endfor%}
    </div>
  </div>
  <div class="voters_details">
    <div class="voters">
      <a href="{% url 'profile' highest_rating.profile.user.id %}"><img
          src="{{highest_url.profile.profile_image.url}}"></a>
    </div>
  </div>
</div>
{%endif%}
<div class="text-left divider">
  <span> Vote for your favorite sites</span>
</div>
{% if projects %}
<div class="container">
  {%for project in projects%}
  <div class="col-md-4">
    <div class="card shadow p-3 mb-5 bg-white rounded card quote-card">
      <div class="card__image border-tlr-radius">
        <a href="{% url 'project' project.id %}"><img src="{{project.project_image.url}}" alt="image" style="width: 100%;"
            class="border-tlr-radius"></a>
      </div>
      <div class="cardbody">
        <div class="card__share">
          <a id="share" class="share-icon" href="{{project.urls}}" target="_blank"><i class="fas fa-share"></i></a>
        </div>
        <div class="card__meta">
          {%if project.average_rating != 0.0 %}
          <a href="#">{{project.average_rating | floatformat:0}}</a>
          {%else%}
          {% endif %}
          <time>{{project.pub_date}}</time>
        </div>
        <article class="card__article">
          <h3><a href="{% url 'project' project.id %}">{{project.name}}</a></h3>
          <p>{{project.description}}</p>
        </article>
        <div class="card__action">
          <div class="card__author">
            <img src="{{project.profile.profile_pic.url}}" class="rounded-circle" alt="user">
            <div class="card__author-content">
              By <a href="{%url 'profile' project.profile.user.id %}">{{project.profile.user.username}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {%endfor%}
</div>
{%endif%}
{%endblock%}