<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white" id="nav">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <form class="navbar-form" role="search" , action="{% url 'search' %}" id="proj-search">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search project" name="project">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
        </div>
      </div>
    </form>
    <div class="logo-wrap" style="margin-left: auto; margin-right: auto;">
      <a class="nav-link" href="/" style="color: black; font-size:xx-large;"><strong>awwwards.</strong></a>
    </div>
    <div class="d-flex align-items-center">
      <!-- Collapsible wrapper -->
      <a href="#" data-toggle="modal" data-target="#myModal">
        <img src="https://mdbootstrap.com/img/new/avatars/2.jpg" class="rounded-circle" height="25" alt=""
          loading="lazy" />
      </a>
    </div>
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document" style="position: fixed;top: 8%;right: 13%;z-index: 3;">
    <div class="modal-content" style="width: 180%;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-left">
        <ul style="list-style: none;">
          {% if user.is_authenticated %}
          <li><a href="{%url 'profile' request.user.id %}" style="color: black;"><strong><i class="fa fa-user-circle"
                  aria-hidden="true" style="color: black; margin-right: 1em;"></i>My Profile</strong></a></li>
          {%endif%}
          <li><a href="/new_project" style="color: black;"><strong><i class="fa fa-upload" aria-hidden="true"
                  style="color: black; margin-right: 1em;"></i>Submit Project </strong></a></li>
          <li><a href="/logout" style="color: black;"><strong><i class="bi bi-box-arrow-right"
                  style="color: black; margin-right: 1em;"></i>Logout</strong></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>